.navbarLinks {
    text-decoration: none;
    color: white;
}

.navbar_container {
    display: flex;
    gap: 15px;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(233, 189, 90, 0.5)); */
}

.logout_btn,
.logout_btn:hover,
.logout_btn:visited,
.logout_btn:focus,
.logout_btn:focus-visible {
    background-color: red;
    border: none;
}

/* Sidebar Css */
.sidebar_main_container {
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}